html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-header-text {
  margin: 0 !important;
}

a:link,
a:visited {
  color: #fff;
}

.mat-card-header {
  justify-content: space-between;
}
